<div class="box">
<div class="alert alert-info" ng-show="tabelsData.length === 0">
        <strong>Information</strong> {{nodataFound}}</div>

<div class="panel panel-primary" ng-hide="hideTable || tabelsData.length === 0">
   <div class="panel-heading">Edit blog posts</div>
	<table class="table table-striped">
	   <thead>
	       <tr>
	           <th class="col-md-8" align="center">Title</th>
	           <th class="col-md-2">Post Date</th>
	           <th class="col-md-1" style="vertical-align: bottom; text-align: center;">Active</th>
	           <th class="col-md-2" style="vertical-align: bottom; text-align: center;">Action</th>
	       </tr>
	   </thead>
       <tbody>
           <tr ng-repeat="tableData in tabelsData">
               <td class="col-md-8">
                   <div ng-hide="editingData[tableData.newId]">{{tableData.title | uppercase}}</div>
                   <div ng-show="editingData[tableData.newId]"><input type="text" class="form-control" ng-model="tableData.title" /></div>
               </td>
               <td class="col-md-2">
                   <div ng-hide="editingData[tableData.newId]">{{tableData.postDate | date: 'dd-MM-yyyy HH:mm:ss'}}
                   </div>
                   <div ng-show="editingData[tableData.newId]">
                      <input type="date" class="form-control" ng-model="tableData.postDate" name="postDate" required/>
                  	</div>
               </td>
			   <td class="col-md-1" style="vertical-align: middle; text-align: center;">
                   <input type="checkbox" ng-model="tableData.active"  ng-disabled="!editingData[tableData.newId]" />
               </td>
               <td class="col-md-2" style="vertical-align: middle; text-align: center;">
                   <button ng-hide="editingData[tableData.newId]" ng-click="modify(tableData)" type="button" class="btn btn-default" aria-label="Left Align">
					  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</button>
                   <button ng-show="editingData[tableData.newId]" ng-click="update(tableData)" class="btn btn-default">
                   	<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                   </button>
					<button ng-show="editingData[tableData.newId]" ng-click="remove(tableData)" class="btn btn-default">
                   	<span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
                   </button>
               </td>
           </tr>
       </tbody>
</table>
</div>

</div>
