<div>
		<div class="alert alert-success" ng-show="showAlert">
        <button type="button" class="close" data-ng-click="switchBool('showAlert')">×</button>
        <strong>Done!</strong> {{successTextAlert}}</div>

		<div class="box">
			<div class="panel panel-primary" ng-show="showNew" >

			  <div class="panel-heading clearfix">
			    <h3 class="panel-title pull-left">New Post</h3>
			    <div class="btn-group pull-right">
					<button type="button" class="close" data-ng-click="switchBool('showNew');hideEdit(false)">&times;</button>
			    </div>
			  </div>
			  <div class="panel-body">
				  <form ng-submit="save()" novalidate name="postForm">
				  <div class="form-group" ng-class="{ 'has-error' : postForm.title.$invalid}">
				  	  <label>Title</label>
				      <input type="text" class="form-control" ng-model="post.title"
				      ng-minlength="10" ng-maxlength="30"
				      name="title" size="30" placeholder="Post Title" required>
				      <p ng-show="postForm.title.$error.required" class="help-inline">Post title is required.</p>
				      <p ng-show="postForm.title.$error.minlength" class="help-inline">Post title is too short.</p>
	            	  <p ng-show="postForm.title.$error.maxlength" class="help-inline">Post title is too long.</p>
				   </div>

				    <div class="row">
					   <div class="form-group col-xs-6" ng-class="{ 'has-error' : postForm.sdate.$invalid && !postForm.sdate.$pristine }">
					  	  <label>Post Date</label>
					  	  <input type="date" class="form-control"  ng-model="sdate" name="sdate" required/>
					  	  <p ng-show="postForm.sdate.$error.required" class="help-block">Date is required.</p>
		               </div>
		               <div class="form-group col-xs-6" ng-class="{ 'has-error' : postForm.stime.$invalid && !postForm.stime.$pristine }">
		               	  <label>Time</label>
						  <input type="time" class="form-control"
		                                 ng-model="stime" name="stime" required/>
					      <p ng-show="postForm.stime.$error.required" class="help-block">Time is required.</p>
					   </div>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : postForm.shortDescription.$invalid && !postForm.shortDescription.$pristine }">
				  	  <label>Short description</label>
				      <input type="text" class="form-control" ng-model="post.shortDescription" name="shortDescription"
				      ng-minlength="10" ng-maxlength="100"
				      size="30" placeholder="Short description" required>
				       <p ng-show="postForm.shortDescription.$error.required" class="help-block">Short description is required.</p>
				      <p ng-show="postForm.shortDescription.$error.minlength" class="help-inline">Short description is too short.</p>
	            	  <p ng-show="postForm.shortDescription.$error.maxlength" class="help-inline">Short description is too long.</p>
				   </div>

					<div class="form-group" ng-class="{ 'has-error' : postForm.imageUrl.$invalid && !postForm.imageUrl.$pristine }">
				  	  <label>Image url</label>
				      <input type="text" class="form-control" ng-maxlength="100" ng-model="post.imageUrl" name="imageUrl" size="30" placeholder="Image url">
				      <p ng-show="postForm.imageUrl.$error.maxlength" class="help-block">Image url is too long.</p>
				   </div>

					<div class="form-group" ng-class="{ 'has-error' : postForm.text.$invalid && !postForm.text.$pristine }">
				  	  <label>Post text</label>
				      <textarea class="form-control" ng-model="post.text" name="text" ng-minlength="50" ng-maxlength="1250" placeholder="Post text" rows="10" required/>
				      <p ng-show="postForm.text.$error.required" class="help-block">Post text is required.</p>
				      <p ng-show="postForm.text.$error.minlength" class="help-block">Post text is too short.</p>
	            	  <p ng-show="postForm.text.$error.maxlength" class="help-block">Post text is too long.</p>
				   </div>

					<div class="form-group">
				  	  <label>Active</label>
				      <input type="checkbox" ng-model="post.active" name="active">
				   </div>

				    <input class="btn btn-primary" type="submit" value="Save" ng-click="postForm.$setPristine()" ng-disabled="postForm.$invalid"/>
				    <button class="btn btn-primary" ng-click="reset(postForm)">
				    	<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>Reset
				    </button>
				    </form>

			  </div>
			</div>
		</div>

		<div class="btn-group-horizontal" role="group">
		 <button ng-click="openNew()" class="btn btn-primary" aria-label="Left Align">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>New
         </button>
         </div>

	</div>